keybinds clear-defaults=true {
    normal {
        bind "left" { MoveFocus "left"; }
        bind "down" { MoveFocus "down"; }
        bind "up" { MoveFocus "up"; }
        bind "right" { MoveFocus "right"; }
        bind "Ctrl e" {
            Run "broot" {
                floating true;
                close_on_exit true;
                x "5%";
                y "5%";
                width "90%"
                height "95%";
            }
            SwitchToMode "locked"
        }
        bind "Ctrl f" { ToggleFloatingPanes; SwitchToMode "locked"; }
        bind "Ctrl g" {
            Run "lazygit" {
                floating true;
                close_on_exit true;
                x "5%";
                y "5%";
                width "90%"
                height "95%";
            }
            SwitchToMode "locked"
        }
        bind "Ctrl m" { SwitchToMode "move"; }
        bind "n" { NewPane; SwitchToMode "locked"; }
        bind "Ctrl n" { NewTab; SwitchToMode "locked"; }
        bind "p" { SwitchToMode "pane"; }
        bind "Ctrl r" { SwitchToMode "resize"; }
        bind "Ctrl s" { SwitchToMode "scroll"; }
        bind "t" { SwitchToMode "tab"; }
        bind "Ctrl t" { ToggleFocusFullscreen; SwitchToMode "locked"; }
    }
    locked {
        bind "Ctrl k" { }
        bind "Ctrl t" { SwitchToMode "normal"; }
        bind "Ctrl tab" { GoToNextTab; }
        bind "Ctrl Shift tab" { GoToPreviousTab; }
    }
    pane {
        bind "d" { NewPane "down"; SwitchToMode "locked"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "locked"; }
        bind "r" { NewPane "right"; SwitchToMode "locked"; }
    }
    tab {
        bind "n" { NewTab; SwitchToMode "locked"; }
        bind "r" { SwitchToMode "renametab"; TabNameInput 0; }
    }
    resize {
        bind "left" { Resize "Increase left"; }
        bind "Alt left" { MoveFocusOrTab "left"; }
        bind "down" { Resize "Increase down"; }
        bind "Alt down" { MoveFocus "down"; }
        bind "up" { Resize "Increase up"; }
        bind "Alt up" { MoveFocus "up"; }
        bind "right" { Resize "Increase right"; }
        bind "Alt right" { MoveFocusOrTab "right"; }
    }
    move {
        bind "left" { MovePane "left"; }
        bind "down" { MovePane "down"; }
        bind "up" { MovePane "up"; }
        bind "right" { MovePane "right"; }
        bind "tab" { MoveTab "right"; }
        bind "Shift tab" { MoveTab "left"; }
    }
    scroll {
        bind "e" { EditScrollback; SwitchToMode "locked"; }
    }
    search {
        bind "N" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "n" { Search "down"; }
        bind "o" { SearchToggleOption "WholeWord"; }
        bind "w" { SearchToggleOption "Wrap"; }
    }
    session {
        bind "Ctrl t" { SwitchToMode "locked"; }
    }
    shared_except "locked" "entersearch" {
        bind "enter" { SwitchToMode "locked"; }
    }
    shared_except "locked" "entersearch" "renametab" "renamepane" {
        bind "esc" { SwitchToMode "locked"; }
    }
    shared_among "normal" "scroll" {
        bind "/" { SwitchToMode "entersearch"; SearchInput 0; }
    }
    shared_except "normal" "locked" "entersearch" "renametab" "renamepane" {
        bind "Ctrl e" { SwitchToMode "locked"; }
    }
    shared_among "scroll" "search" {
        bind "PageDown" { PageScrollDown; }
        bind "PageUp" { PageScrollUp; }
        bind "left" { HalfPageScrollUp; }
        bind "down" { ScrollDown; }
        bind "up" { ScrollUp; }
        bind "right" { HalfPageScrollDown; }
    }
    entersearch {
        bind "Ctrl e" { SearchInput 27; SwitchToMode "scroll"; }
        bind "esc" { SearchInput 27; SwitchToMode "scroll"; }
        bind "enter" { SwitchToMode "search"; }
    }
    renametab {
        bind "Ctrl e" { UndoRenameTab; SwitchToMode "locked"; }
        bind "esc" { UndoRenameTab; SwitchToMode "locked"; }
    }
    renamepane {
        bind "Ctrl e" { UndoRenamePane; SwitchToMode "locked"; }
        bind "esc" { UndoRenamePane; SwitchToMode "locked"; }
    }
}
themes {
    dark {
        text_unselected {
            base 171 178 191
            background 30 33 39
            emphasis_0 229 131 64
            emphasis_1 86 182 194
            emphasis_2 152 195 121
            emphasis_3 198 120 221
        }
        text_selected {
            base 171 178 191
            background 30 33 39
            emphasis_0 229 131 64
            emphasis_1 86 182 194
            emphasis_2 152 195 121
            emphasis_3 198 120 221
        }
        ribbon_selected {
            base 30 33 39
            background 152 195 121
            emphasis_0 224 108 117
            emphasis_1 229 131 64
            emphasis_2 198 120 221
            emphasis_3 97 175 239
        }
        ribbon_unselected {
            base 30 33 39
            background 171 178 191
            emphasis_0 224 108 117
            emphasis_1 171 178 191
            emphasis_2 97 175 239
            emphasis_3 198 120 221
        }
        table_title {
            base 152 195 121
            background 0
            emphasis_0 229 131 64
            emphasis_1 86 182 194
            emphasis_2 152 195 121
            emphasis_3 198 120 221
        }
        table_cell_selected {
            base 171 178 191
            background 30 33 39
            emphasis_0 229 131 64
            emphasis_1 86 182 194
            emphasis_2 152 195 121
            emphasis_3 198 120 221
        }
        table_cell_unselected {
            base 171 178 191
            background 30 33 39
            emphasis_0 229 131 64
            emphasis_1 86 182 194
            emphasis_2 152 195 121
            emphasis_3 198 120 221
        }
        list_selected {
            base 171 178 191
            background 30 33 39
            emphasis_0 229 131 64
            emphasis_1 86 182 194
            emphasis_2 152 195 121
            emphasis_3 198 120 221
        }
        list_unselected {
            base 171 178 191
            background 30 33 39
            emphasis_0 229 131 64
            emphasis_1 86 182 194
            emphasis_2 152 195 121
            emphasis_3 198 120 221
        }
        frame_selected {
            base 152 195 121
            background 0
            emphasis_0 229 131 64
            emphasis_1 86 182 194
            emphasis_2 198 120 221
            emphasis_3 0
        }
        frame_highlight {
            base 229 131 64
            background 0
            emphasis_0 229 131 64
            emphasis_1 229 131 64
            emphasis_2 229 131 64
            emphasis_3 229 131 64
        }
        exit_code_success {
            base 152 195 121
            background 0
            emphasis_0 86 182 194
            emphasis_1 30 33 39
            emphasis_2 198 120 221
            emphasis_3 97 175 239
        }
        exit_code_error {
            base 224 108 117
            background 0
            emphasis_0 209 154 102
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 198 120 221
            player_2 97 175 239
            player_3 0
            player_4 209 154 102
            player_5 86 182 194
            player_6 0
            player_7 224 108 117
            player_8 0
            player_9 0
            player_10 0
        }
    }
}

// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {
    about location="zellij:about"
    compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" {
        cwd "/"
    }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
}

// Plugins to load in the background when a new session starts
// eg. "file:/path/to/my-plugin.wasm"
// eg. "https://example.com/my-plugin.wasm"
load_plugins {
}
 
// Use a simplified UI without special fonts (arrow glyphs)
// Options:
//   - true
//   - false (Default)
// 
// simplified_ui true
 
// Choose the theme that is specified in the themes section.
// Default: default
// 
theme "dark"
 
// Choose the base input mode of zellij.
// Default: normal
// 
default_mode "locked"
 
// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
// 
// default_shell "fish"
 
// Choose the path to override cwd that zellij will use for opening new panes
// 
// default_cwd "/tmp"
 
// The name of the default layout to load on startup
// Default: "default"
// 
// default_layout "compact"
 
// The folder in which Zellij will look for layouts
// (Requires restart)
// 
// layout_dir "/tmp"
 
// The folder in which Zellij will look for themes
// (Requires restart)
// 
// theme_dir "/tmp"
 
// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
// 
mouse_mode true
 
// Toggle having pane frames around the panes
// Options:
//   - true (default, enabled)
//   - false
// 
pane_frames false
 
// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// (Requires restart)
// Default: false
// 
// mirror_session true
 
// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// (Requires restart)
// Options:
//   - detach (Default)
//   - quit
// 
// on_force_close "quit"
 
// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// (Requires restart)
// Valid values: positive integers
// Default value: 10000
// 
// scroll_buffer_size 10000
 
// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx
// 
// copy_command "pbcopy"
 
// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
// 
// copy_clipboard "primary"
 
// Enable automatic copying (and clearing) of selection when releasing mouse
// Default: true
// 
// copy_on_select true
 
// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
// scrollback_editor "/usr/bin/vim"
 
// A fixed name to always give the Zellij session.
// Consider also setting `attach_to_session true,`
// otherwise this will error if such a session exists.
// Default: <RANDOM>
// 
// session_name "My singleton session"
 
// When `session_name` is provided, attaches to that session
// if it is already running or creates it otherwise.
// Default: false
// 
// attach_to_session true
 
// Toggle between having Zellij lay out panes according to a predefined set of layouts whenever possible
// Options:
//   - true (default)
//   - false
// 
// auto_layout false
 
// Whether sessions should be serialized to the cache folder (including their tabs/panes, cwds and running commands) so that they can later be resurrected
// Options:
//   - true (default)
//   - false
// 
// session_serialization false
 
// Whether pane viewports are serialized along with the session, default is false
// Options:
//   - true
//   - false (default)
// 
// serialize_pane_viewport false
 
// Scrollback lines to serialize along with the pane viewport when serializing sessions, 0
// defaults to the scrollback size. If this number is higher than the scrollback size, it will
// also default to the scrollback size. This does nothing if `serialize_pane_viewport` is not true.
// 
// scrollback_lines_to_serialize 10000
 
// Enable or disable the rendering of styled and colored underlines (undercurl).
// May need to be disabled for certain unsupported terminals
// (Requires restart)
// Default: true
// 
// styled_underlines false
 
// How often in seconds sessions are serialized
// 
// serialization_interval 10000
 
// Enable or disable writing of session metadata to disk (if disabled, other sessions might not know
// metadata info on this session)
// (Requires restart)
// Default: false
// 
// disable_session_metadata false
 
// Enable or disable support for the enhanced Kitty Keyboard Protocol (the host terminal must also support it)
// (Requires restart)
// Default: true (if the host terminal supports it)
// 
// support_kitty_keyboard_protocol false
 
// Whether to stack panes when resizing beyond a certain size
// Default: true
// 
// stacked_resize false
 
// Whether to show tips on startup
// Default: true
// 
show_startup_tips false
 
// Whether to show release notes on first version run
// Default: true
// 
// show_release_notes false
